<section class="section-padding">
    <div class="container">
     	<div class="col-md-12">
    		<h2 class="ser-title">Nueva cita</h2>
    		<hr class="botm-line">
    	</div> 
		<div class="col-md-5 col-sm-5">
            <%= render 'form' %>
            <%= link_to 'Regresar', root_path %>
	    </div>
    </div>
</section>



