<li class=""><%= link_to 'Sobre nosotros', pages_about_us_path %></li>
<li class=""><%= link_to 'Foro médico', pages_foro_path %></li>
<li class=""><%= link_to 'Contáctanos', pages_contact_us_path %></li>